doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Hello, World! :)

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Mateusz Staśkiewicz
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Mateusz
                        span.text-primary Staśkiewicz
                    .subheading.mb-2
                        | Gdynia · Poland
                    .subheading.mb-2
                        | (+48) 661-501-185
                    .subheading.mb-5
                        a(href='mailto:i@mstaskiewicz.com') i@mstaskiewicz.com
                    p.lead.mb-5
                        | I am a highly qualified, knowledgeable and motivated Software Engineer with more than four years of experience in both
                        | programming and problem solving.
                        | I pride myself in being a massive evangelist of clean, well- tested code and SOLID, KISS, DRY principles.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/mateusz-staskiewicz-15a938119/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/daabzor')
                            i.fab.fa-github
                        a.social-icon(href='https://www.facebook.com/mateusz.staskiewicz.9')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Cloud Services sp. z o.o.
                            p
                                | Projects:
                            p
                                | <b> Ideabank </b> - Financial service for micro, small and medium enterprises.
                        .flex-shrink-0
                            span.text-primary February 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Associate Software Engineer, Software Engineer
                            .subheading.mb-3 Finastra
                            p
                                | Projects:
                            p
                                | <b>Fusion Fabric Connect</b> - ETL, middle office system for integration front and back office systems.
                            p
                                | <b>Compliance Server</b> - Back office system used by traders and risk management for keeping track of limits and financial regulations.
                        .flex-shrink-0
                            span.text-primary December 2016 - February 2019

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Warmia and Mazury, Olsztyn, Poland
                            .subheading.mb-3 Bachelor of Science
                            p <b> Thesis: </b> ‘Application of laser scanner in archaeology inventory’
                            div Geodesy and Cartography - Geodesy and Geoinformatics
                        .flex-shrink-0
                            span.text-primary 2010 - 2014

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-1 Programming Languages & Tools
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Java
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Groovy
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Gradle
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Maven
                        li
                            span.fa-li
                                i.fas.fa-check
                            | SQL
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Spring
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Spring Boot
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Linux
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Docker
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Elasticsearch
                        li
                            span.fa-li
                                i.fas.fa-check
                            | REST
                        li
                            span.fa-li
                                i.fas.fa-check
                            | SOAP
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Object oriented programming
                        li
                            span.fa-li
                                i.fas.fa-check
                            | JVM
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Jenkins
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Jira
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Confluence
                        p
                    .subheading.mb-1 Basics
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Functional Programming
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Microservices
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Google Cloud
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Kubernetes
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Kafka
                        li
                            span.fa-li
                                i.fas.fa-check
                            | AngularJS
                        li
                            span.fa-li
                                i.fas.fa-check
                            | JavaScript
                        p

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a programmer, I am a big fan of music, especially rock and metal genres.
                    p.mb-0
                        | In my spare time I become a gamer and dive into virtual reality worlds.

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
