// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$light-green: #407168;
$green: #24504a;

// Override Bootstrap default state colors

$primary: $light-green;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
